p {
  font-weight: bold;
  text-align: center;
}

/* position footer at bottom of page */

#footer {
  margin-top: 15px;
  height: 50px !important;
}

.marquee {
  height: 50px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
